{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>voice-catcher</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1 class="text-center">Voice Catcher</h1>
    <form class="d-flex align-items-sm-stretch">
      {% csrf_token %}
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        onclick="location.href='{% url 'listenJP' %}'"
      >
        JP version
      </button>
    </form>

    <form>
      {% csrf_token %}
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        onclick="location.href='{% url 'listenEN' %}'"
      >
        EN version
      </button>
    </form>
  </body>
</html>
